

.settings {
  display: flex;
  width: 70%;
 margin: 3rem auto;
}


.settingsWrapper {
  flex: 9;
  padding: 20px;
}

.settingsUpdateTitle {
  font-size: 22px;
  color: lightcoral;
  cursor: pointer;
}

.settingsDeleteTitle {
  color: red;
  font-size: 22px;
  cursor: pointer;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}



.settingsForm {
  display: flex;
  flex-direction: column;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.settingsPP > div {
  height: 70px;
  width: 70px;
  border-radius: 20px;
  object-fit: cover;
  border: 0.6px solid rgb(123, 119, 119);
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsPP div > img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 1.6rem;

 
}

.settingsPPIcon {
  width: 25px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  color: white;
  background-color: lightcoral;
  cursor: pointer;
}

.settingsPPButton:focus {
  outline-style: none;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsPPInput {
  width: 30%;
}

.settingsForm > input {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settingsSubmit {
  align-self: center;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsSubmitButton:hover {
  background-color: rgb(1, 114, 114);
}
.user-post{
  margin: 0 auto;
  border-top: 0.6px solid rgb(142, 137, 137);
}
.user-post> span{
  text-align: center;
  display: block;
}

@media screen and (max-width :764px) {
 .settings {
    display: flex;
    width: 90%;
    margin: 3rem auto;
}
.settingsTitle >span{
  font-size: 14px;
}
}